<div class="container">
  <div class="d-flex justify-content-center">
  <%= form_for @task do |f| %>
    <%= f.label :name, "Name of Task" %>
    <%= f.text_field :name %>

    <%= f.label :location, "Location" %>
    <%= f.text_field :location %>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>

    <%= f.label :task_length, "Time estimate" %>
    <%= f.text_field :task_length %>

    <%= f.label :task_date, "Day you want this done" %>
    <%= f.select :task_date, options_for_select([['Today', Time.now], ['Tomorrow', Time.now + 1.day], ['1 Week', Time.now + 7.day], ['2 Weeks', Time.now + 14.day], ['Next Month', Time.now + 30.day]]) %>

    <%= f.submit "Create Task", class: "btn btn-primary mt-4" %>

  <% end %>
  </div>
</div>
