<div>
    <h3>Task Details</h3>
    <% if current_user == @task.user %>
    <%= link_to "View Quotes", task_quotes_path(@task) %> <br  />
    <% else %>
    <%= link_to "Submit New Quote", new_task_quote_path(@task) %>
    <% end %>

            <p>Name: <%= @task.name %></p>
            <p>Location: <%= @task.location %></p>
            <p>Description: <%= @task.description %></p>
            <p>Length of Job: <%= @task.task_length %></p>
            <p>Date: <%= @task.task_date %></p>
          
</div>
