<h1>How it works?</h1>
<div class="row main-links">
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Sign up</h5>
    </div>
    <%=image_tag("photo1.jpeg")%>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Add tasks</h5>
    </div>
    <%=image_tag("photo2.jpeg")%>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Get private responses.</h5>
    </div>
    <%=image_tag("photo3.jpeg")%>
  </div>
</div>
  <div class="row main-links">
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Pick your help.</h5>
    </div>
    <%=image_tag("photo4.jpeg")%>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Pay cash </h5>
    </div>
    <%=image_tag("photo5.jpeg")%>
  </div>
  <div class="small-12 medium-4 columns">
    <div class="title-box">
      <h5 class="title-box-title">Job Well Done</h5>
    </div>
    <%=image_tag("photo6.jpeg")%>
  </div>
</div>
</div>

<!-- https://www.pexels.com/photo/high-angle-view-of-multi-colored-marshmallows-325526/ -->
