<h4>User Reviews Coming Soon</h4>
<h2>Review Form for</h2>

<div class="sign-in-form">
<%= form_for [@user, @user.reviews.build] do |f| %>

    <%= f.label :rating %>
    <%= f.number_field :rating %>

    <%= f.label :Comments %>
    <%= f.text_field :body %>

    <div class="actions">
      <%= f.submit "Add Review" %>
    </div>
<% end %>
<div>
