<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
    @import url('https://fonts.googleapis.com/css?family=Pacifico|Special+Elite');
    </style>
    <title><%= content_for?(:title) ? yield(:title) : "JOB WELL DONE" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
<% unless action_name == "index" %>
  <ul class="menu menu-hover-lines">
  <li class="active"><%= link_to "Home", welcome_index_path %></a></li>
  <li><a href="#">About Us</a></li>
  <li><%= link_to "AVAILABLE WORK", tasks_path %></a></li>
  <li><a href="#">Suggestions</a></li>
  <li><a href="#">Contact</a></li>
</ul>
<% end %>
  <body>
      <div>
        <ul>
          <% if user_signed_in? %>
          <% if current_user.admin? %>
          <li>
            <%= link_to "View Users", admin_users_path, class:"button" %>
          </li>
          <% end %>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, class:"button", method: :delete %>
          </li>
          <% else %>
          <div class="button-group-option" >
              <%= link_to "Sign In", new_user_session_path, class: "button" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "button" %>
          </div>
            <% end %>
        </ul>
      </div>
      <% flash.each do |key, value| %>
            <%= value %>
            <% end %>
      <%= yield %>

    </body>

  </html>
